<section class="levels-select">
	
    <div class="cover-container">

		<div class="option small-12 medium-4 columns expand">
			<img src="img/covers/1.png" class="cover" data-interact="load">
		</div>
	
		<div class="option small-12 medium-4 columns middle expand">
			<img src="img/covers/shadow.png" class="shadow">
			<img src="img/covers/2.png" class="cover active" data-interact="load">
		</div>
	
		<div class="option small-12 medium-4 columns expand">
			<img src="img/covers/3.png" class="cover" data-interact="load">
		</div>

    </div>

    <div class="horizon"></div>
	<div class="title">My Levels</div>
</section>

<section class="content">
		<div class="small-12 medium-4 large-4 columns level">
			<span class="fav"><i class="fa fa-heart"></i></span>
			<a href="#" data-interact="levelLink" data-link="Sketch 1">
				<img class="sketch" src="/img/sketch.png" alt="">
				<div class="overlay-container">
					<div class="title"><strong>Wicked Awesome Town</strong></div>
					<div class="creator">Created by Robin Rath</div>
					<div class="stats"><strong>4,123</strong> / 32%</div>
				</div>
			</a>
			<img class="character" src="/img/character-3.png" width="60">
		</div>

		<div class="small-12 medium-4 large-4 columns level">
			<span class="fav"><i class="fa fa-heart"></i></span>
			<a href="#" data-interact="levelLink" data-link="Sketch 1">
				<img class="sketch" src="/img/sketch.png" alt="">
				<div class="overlay-container">
					<div class="title"><strong>Wicked Awesome Town</strong></div>
					<div class="creator">Created by Robin Rath</div>
					<div class="stats"><strong>4,123</strong> / 32%</div>
				</div>
			</a>
			<img class="character" src="/img/character.png" width="60">
		</div>

		<div class="small-12 medium-4 large-4 columns level">
			<span class="fav"><i class="fa fa-heart"></i></span>
			<a href="#" data-interact="levelLink" data-link="Sketch 1">
				<img class="sketch" src="/img/sketch.png" alt="">
				<div class="overlay-container">
					<div class="title"><strong>Wicked Awesome Town</strong></div>
					<div class="creator">Created by Robin Rath</div>
					<div class="stats"><strong>4,123</strong> / 32%</div>
				</div>
			</a>
			<img class="character" src="/img/character-2.png" width="60">
		</div>

		<div class="small-12 medium-4 large-4 columns level">
			<span class="fav"><i class="fa fa-heart"></i></span>
			<a href="#" data-interact="levelLink" data-link="Sketch 1">
				<img class="sketch" src="/img/sketch.png" alt="">
				<div class="overlay-container">
					<div class="title"><strong>Wicked Awesome Town</strong></div>
					<div class="creator">Created by Robin Rath</div>
					<div class="stats"><strong>4,123</strong> / 32%</div>
				</div>
			</a>
			<img class="character" src="/img/character.png" width="60">
		</div>

		<div class="small-12 medium-4 large-4 columns level">
			<span class="fav"><i class="fa fa-heart"></i></span>
			<a href="#" data-interact="levelLink" data-link="Sketch 1">
				<img class="sketch" src="/img/sketch.png" alt="">
				<div class="overlay-container">
					<div class="title"><strong>Wicked Awesome Town</strong></div>
					<div class="creator">Created by Robin Rath</div>
					<div class="stats"><strong>4,123</strong> / 32%</div>
				</div>
			</a>
			<img class="character" src="/img/character-2.png" width="60">
		</div>

		<div class="small-12 medium-4 large-4 columns level">
			<span class="fav"><i class="fa fa-heart"></i></span>
			<a href="#" data-interact="levelLink" data-link="Sketch 1">
				<img class="sketch" src="/img/sketch.png" alt="">
				<div class="overlay-container">
					<div class="title"><strong>Wicked Awesome Town</strong></div>
					<div class="creator">Created by Robin Rath</div>
					<div class="stats"><strong>4,123</strong> / 32%</div>
				</div>
			</a>
			<img class="character" src="/img/character.png" width="60">
		</div>
</section>